/* Global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

body {
    padding: 10px 20px;
}

:root {
    font-family: "Roboto", sans-serif;
    --dk-background: #1f2937;
    --cta-background: #3882f6;
    --qt-background: #e5e7eb;
}


/* header */

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header {
    margin: 0;
}

.links {
    display: flex;
    gap: 10px;
}

.links a {
    text-decoration: none;
    color: blue;
}


div.intro h1 {

}

div.intro p {

}

div.intro img {
    width: 425px;
    height: 200px;
    object-fit: cover;
}

/* OLD
.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 425px;
    height: 200px;
    object-fit: cover;
}
*/

/* body */

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    overflow: hidden;
    display: flex;
    align-items: center;
    /*center vertically in case the height of div.gallery is enough */
    justify-content: center;
    /*center horizontally*/
}
    
div.gallery img {
    width: 600px;
    height: 400px;
    object-fit: cover;
}


/* footer */

p.qoute {

}

p.attribute {

}