* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

:root {
    --white: #f9faf8;
    --grey: #e5e7eb;
    --black: #1f2937;
    --blue: #2882f6; 
}

body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*font-family: Arial, Helvetica, sans-serif;*/
}

.container {
    display: flex;
    margin: 0 10vw;
}

.dark {
    background-color: var(--black);
}

.light {
    background-color: var(--white);
}

.quote {
    background-color: var(--grey);
    color: var(--black);
    font: italic light 36px;
}

nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-left: 25px;
}

nav a {
    text-decoration: none;
    color: var(--grey)
}

.banner {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: calc(50% - 50px);
    margin-right: 50px;
}

.head1 {
    color: var(--white);
    font-size: 24px;
    flex: 1;
}

.margin-buff {
    height: 100px;
}

h1 {
    color: var(--white);
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 3px;
}

p {
    margin-bottom: 3px;
}

.hero2-head2 {
    font-size: 18px;
    color: var(--grey);
}

.but1 {
    background-color: var(--blue);
    border-radius: 5px;
    border: none;
    color: var(--white);
    font-size: 18px;
    width: 150px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.hero-img {
    flex: 1;
    width: 50%;
    height: 350px;
    object-fit: cover;
}

.img-head {
    color: var(--black);
    font-weight: bold;
    font-size: 36px;
    margin: 40px auto;
    text-align: center;
}

.img-gallery {
    display: flex;
    justify-content: center;
}

.img-card {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

.img-card img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    border: 3px solid var(--black);
}

.img-card p {
    width: 200px;
    text-align: center;
}

blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: var(--black);
    margin: 0 auto;
    width: 900px;
    margin-top: 150px;
    margin-bottom: 25px;
}

.author {
    margin: 0 auto;
    width: 800px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 150px;
}